<!doctype html>
<html lang="en" ng-app="AnguChat">
<head>
    <meta charset="utf-8" />
    <title>AnguChat</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/animations.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-controller="AnguChatCtrl">

    <div id="mainAppContainer">
        <div id="mainAppContainerTop">

            <messages>
                <message ng-repeat="message in messages" time="{{message.time | date:'HH:mm'}}" sender="{{message.sender}}">{{message.text}}</message>
            </messages>

            <users>
                <user ng-repeat="user in users" nickname="{{user.nickname}}" color="" is-logged-in-user="{{user.id == loggedInUser.id}}" />
            </users>
        </div>
        <div id="mainAppContainerBottom">
            <form id="newMessageForm" ng-submit="sendNewMessage()">
                <input type="text" ng-model="newMessage" id="newMessage" placeholder="Enter your message here.." required="required" focusOnLogin />
            </form>
        </div>
    </div>

    <div id="loginWindowContainer" ng-class="loginWindowStatus">
        <div id="loginWindow">
            <form id="loginForm" name="loginForm" ng-submit="login()" novalidate="novalidate">
                <h1>Welcome to AnguChat!</h1>
                <label for="nickname">Please enter your nickname:</label>
                <input type="text" id="nickname" ng-model="nickname" required="required" />
                <input type="submit" value="Start" ng-disabled="loginForm.$invalid" />
            </form>
        </div>
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="http://localhost:8081/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
